<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <!--<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="css/style1.css">
    <style>
        .error {
            color: red;
            font-size: 2rem;
        }
    </style>

</head>
<body>
<div class="main">
    <form th:action="@{/login}" method="POST" class="form" id="form-2">
        <div th:if="${param.error}" class="error">
            Invalid username or password
        </div>
        <h3 class="heading">Login</h3>
        <div class="form-group">
            <label for="username" class="form-label">Username:</label>
            <input id="username" name="username" type="text" placeholder="Nhập username" class="form-control">
            <span class="form-message"></span>
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Password: </label>
            <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
            <span class="form-message"></span>
        </div>

        <button class="form-submit">Đăng nhập</button>
        <div style="margin-top:20px; margin-right: 10px; font-size: 15px">
            <a th:href="@{/register}">Đăng ký tài khoản?<a>
        </div>
    </form>

</div>
<script src="js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        Validator({
            form: '#form-2',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isusername('#username'),
                Validator.isRequired('#username', 'Nhập username không hợp lệ'),
                Validator.minLength('#password', 6),
            ],
        });
    });
</script>
</body>
</html>